/* topography */
html {
       font-size: 62.5%;
}
* {
       box-sizing: border-box;
}
:root {
       --color-primary: #1ab6c1;
       --color-secondary: #3e13e9;
       --color-accent: #d46d4c;
       --font-heading: inter ,Arial, Helvetica, sans-serif;
       --color-heading: rgb(74, 61, 95);
       --color-body: #231723;
}
body {
       font-family: open sans ,Arial, Helvetica, sans-serif;
       font-size: 2.4rem;
       background: #ece3e3;
       color: var(--color-body);
       line-height: 1.5;
}
h1,
h2,
h3 {
       font-family: var(--font-heading);
       margin-bottom: 0;
       color: var(--color-heading);
       line-height: 1;
       
       
}
h1 {
       font-size: 4.7rem;
}
h2 {
       font-size: 4rem;
}
h3 {
       font-size: 3rem;
}
.btn {
       padding: 2rem 3rem;
       border-radius: 4rem;
       text-transform: uppercase;
       font-size: 2rem;
       font-weight: 500;
       border: 0;
       margin-top: 1rem;
       word-spacing: 3px;
       letter-spacing: 2px;
       

}

.btn--block {
       display: inline-block;
       margin: 1rem 0;
       width: 100%;
}

.btn--primary{
       background: var(--color-primary);
       color: #fff;
       transition: all .5s ease-in-out;
}
.btn--primary:hover {
       background: #35878d;
       color: #e7e4e4;
       transform: scale(1.02);
       font-weight: 700;
}
.btn--accent {
       background: var(--color-accent);
       color: #fff;
       transition: all .4s ease-in-out;
}
.btn--accent:hover {
       background-color: #835546;
       transform: scale(1.02);
       color: #fceefc;
       font-weight: 600;
}
@media screen and (min-width: 768px) {
       .btn {
              font-size: 1.7rem;
              font-weight: 700;
       }
       
}
.badge {
       display: inline-block;
       color: #fff;
       border-radius: 2rem;
       padding: 1rem 1.7rem;
       font-size: 1.4rem;
       font-weight: 500;
}
.badge--primary {
       background: var(--color-secondary);
       color: #dee3e6;
       opacity: .5;

}
@media screen and (min-width: 768px) {
       .badge {
              font-size: 1.2rem;
       }
}
