/* topography */
html {
       font-size: 62.5%;
}
*,
*::after,
*::before {
       box-sizing: border-box;
       text-decoration: none;
       list-style: none;
}
:root {
       --color-primary: #1ab6c1;
       --color-secondary: #3e13e9;
       --color-accent: #d46d4c;
       --font-heading: inter ,Arial, Helvetica, sans-serif;
       --color-heading: rgb(74, 61, 95);
       --color-body: #231723;
}
body {
       font-family: open sans ,Arial, Helvetica, sans-serif;
       font-size: 2.4rem;
       background: #fff;
       color: var(--color-body);
       line-height: 1.5;
}
h1,
h2,
h3 {
       font-family: var(--font-heading);
       margin-bottom: 0;
       color: var(--color-heading);
       line-height: 1;
       
       
}
h1 {
       font-size: 4.7rem;
}
h2 {
       font-size: 4rem;
}
h3 {
       font-size: 3rem;
}
/* btn */
.btn {
       padding: 2rem 3rem;
       border-radius: 4rem;
       text-transform: uppercase;
       font-size: 1.7rem;
       font-weight: 500;
       border: 0;
       margin-top: 1rem;
       word-spacing: 3px;
       letter-spacing: 2px;
       text-align: center;
       

}

.btn--block {
       display: inline-block;
       padding: 1.5rem 3rem;
       margin: 1rem 0;
       width: 100%;
}

.btn--primary{
       background: var(--color-primary);
       color: #fff;
       transition: all .5s ease-in-out;
}
.btn--primary:hover {
       background: #35878d;
       color: #e7e4e4;
       transform: scale(1.02);
       font-weight: 700;
}
.btn--accent {
       background: var(--color-accent);
       color: #fff;
       transition: all .4s ease-in-out;
}
.btn--accent:hover {
       background-color: #835546;
       transform: scale(1.02);
       color: #fceefc;
       font-weight: 600;
}
@media screen and (min-width: 768px) {
       .btn {
              font-size: 1.7rem;
              font-weight: 700;
       }
       
}
/* badge */
.badge {
       display: inline-block;
       color: #fff;
       border-radius: 2rem;
       padding: 1rem 1.7rem;
       font-size: 1.4rem;
       font-weight: 500;
}
.badge--primary {
       background: var(--color-secondary);
       color: #dee3e6;
       opacity: .5;

}
.badge--accent {
       background: var(--color-accent);
}
@media screen and (min-width: 768px) {
       .badge {
              font-size: 1.2rem;
       }
}
/* links */
.arrow-link {
       color: #a35538;
       font-size: 2rem;
       font-weight: bold;
       text-transform: uppercase;
       letter-spacing: 1px;
}
.arrow-link::after {
       content: "\2192";
       font-size: 2.3rem;
       margin-top: 0;
       display: inline-block;
       margin-left: 2px;
       transition: all .3s;
}
.arrow-link:hover::after {
       transform: translate(3px);
}
@media screen and (min-width: 768px) {
       .arrow-link {
              font-size: 1.5rem;
       }
       .arrow-link::after {
              font-size: 2.1rem;
       }
}

/* card */
.card {
       border-radius: 10px;
       border: 2px solid #e7e7e7;
       overflow: hidden;
}
.card:hover {
       box-shadow: 0 0 20px 10px #dcdedf;
       transform: scale(1.01);
}
.card--primary .card__header {
       background-color: var(--color-primary);

}
.card--secondary .card__header {
       background: var(--color-secondary);

}
.card--secondary .card__heading {
       color: #dcdedf;
}
.card--primary .card__heading {
       color: #eaedf0;
}
.card__header , .card__content {
       padding:  2rem 3rem;
}
.card__content {
       font-size: 1.9rem;
       background: #f9f5f5;
       color: #010202;
}

/* icons */
.icon {
       width: 40px;
       height: 40px      

}
.icon--white {
       fill: #fff;
}
.icon--primary {
       fill: var(--color-primary);
}
.icon--secondary {
       fill: var(--color-secondary);
}
.icon--accent {
       fill: var(--color-accent);
}
.icon--block{
       width: 62px;
       height: 62px;
       transform: translate(15rem);
       
}

.icon-container {
       width: 40px;
       height: 40px;
       border-radius: 100%;
       display: inline-flex;
       justify-content: center;
       align-items: center;
       margin-left: 1rem;  
}
/* plans*/
.plan {
       max-width: 500px;
       margin: auto;
}
/* grid */
.red {
       height: 100px;
       background-color: #835546;
}
.yellow {
       background-color: yellow;
       height: 100px;
}
.grid {
       display: grid;
}
@media screen and (min-width: 768px) {
       .grid--1x2 {
              grid-template-columns: repeat(2,1fr);
       }
}
/* collapsing */
.collapsible {
       padding: 1rem;
}
.collapsible__header {
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.collapsible__header .collapsible__heading {
       margin-top: 0;
       font-size: 2.9rem;
}
.collapsible__chevron {
       transform: rotate(-90deg);
       transition: transform .5s;
}
.collapsible__content {
       max-height: 0;
       overflow: hidden;
       opacity: 0;
       transition: all .5s;
}

.collapsible--expandable .collapsible__chevron {
       transform: rotate(0deg);
       transition: all .5s;
}
.collapsible--expandable  .collapsible__content {
       max-height: 100%;
       opacity: 1;
       transition: all .5s;
}
/* languages used in our services */
.collapsible .card__header{
       padding: 0 2rem;
}
.collapsible .card__content {
       padding: 0 2rem;
       padding-top: 1rem;
}
@media screen and (min-width: 768px) {
       .languages__collapsible {
              padding: 0;
              max-width: 500px;
       }
       .languages__collapsible .collapsible__chevron {
              display: none;
       }
       .languages__collapsible .collapsible__header {
              
              padding: 2rem 3rem;
       }
       .languages__collapsible .card__header {
              padding: 2rem 3rem;
              background: var(--color-accent);
       }
       .languages__collapsible .collapsible__heading {
              color: #f6feff;
       }
       .languages__collapsible .collapsible__content {
              max-height: 100%;
              opacity: 1;
              padding: 2rem 3rem;
              transition: all 0s;
       }
}
/* project plan */
.project-plan .badge {
       font-size: 1.3rem;
       font-weight: 600;
}
.project-plan .plan__date {
       font-size: 1.4rem;
       letter-spacing: 1.4px;
       opacity: .5;
       font-weight: 500;
}
.project-plan .card__heading {
       margin: 1rem 0;
}
.project-plan .card__content {
       padding-top: 0;
}
.project__image {
       margin-top: 0;
}
/* media */
.media{
       display: flex;
       gap: 1rem;
}
.media__heading ,.media__content{
       margin: 2px;
}
@media screen and (min-width: 768px) {
       .media__heading{
              font-size: 2.8rem;
              margin-top: 6px;

       }
       .media__content {
              font-size: 2rem;
       }
}
/* block */
.block {
       --padding-vertical: 6rem;
       padding: var(--padding-vertical) 2rem;
}
.container {
       max-width: 1140px;
       margin: auto;
}
.block--dark {
       background: #86969a;
       color: #f9f5f5;
}
.block--dark .block__heading {
       color: #fff;
}
.block--skewed-left {
       clip-path: polygon(0% 0%, 0% 100%, 100% 90%,100% 0%);
       padding-bottom: calc(var(--padding-vertical) + 8rem);
       
}
.block--skewed-right {
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 88%);
       padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block__header {
       text-align: center;
}
.block__heading {
       margin-top: 0;
}
/* Navigation */
.nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background: #010202;
       flex-wrap: wrap;
       padding: 1rem;
}
.logo {
       color: #d2cfcf;
       margin-left: .4rem;
}
.nav__icon {
       opacity: 1;
       fill: #e5dbdb;
       transition: all .5s;
}
.nav__icon:hover {
       opacity: .8;
       transform: scale(1.06);
}

.list {
       width: 100%;
       padding: 0;
}
.list__item {
       margin: 5px;
       border-bottom: 1px solid #352d2d;
       transition: transform .3s ease-out;
}
.list__item:hover {
       transform: translateX(2px);
}
.list a {
       color: #8b9b9c;
       font-weight: 500;
       transition: color .5s;
}
.list a:hover {
       color: #41787b;
}
.list.collapsible__content {
       margin: 0;
}
@media screen and (min-width: 768px) {
       
       .nav__icon {
              display: none;
       }
       .list {
              width: auto;
              max-height: 100%;
              opacity: 1;
              font-size: 2rem;
              display: flex;
              gap: 1rem;
              
       }
       .list__item {
              border-bottom: 0;
       }
       .list__item:hover {
              transform: scale(1.1);
       }
       
       
}
/* hero */
.hero {
       gap: 1rem;
}
.img {
       width: 100%;
}
.hero .btn {
       margin: 2rem;
}
@media screen and (min-width: 768px) {
       .hero .block__header {
              align-self: center;
              justify-self: center;
       }
       .hero .btn {
              margin: 2rem 0;
              font-size: 1.2rem;
       }
       .hero .img {
              align-self: center;
       }
}
/* about me */
.about .card {
       padding: 1rem;
       gap: 1rem 2rem;
}
.about .arrow-link {
       color: #fff;
       transform: translateX(-30px);
}
.about .img {
       margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
       .about .grid--1x2 {
              grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
       }
       .about .arrow-link {
              font-size: 1.8rem;
       }
}
/*services  */
.services {
       gap: 1rem 2rem;
}
/* languages */
.languages {
       gap: 1rem 2rem;
}
@media screen and (min-width: 768px) {
       .languages {
              grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
       }
}