/* topography */
html {
       font-size: 62.5%;
}
*,
*::after,
*::before {
       box-sizing: border-box;
       text-decoration: none;
       list-style: none;
}
:root {
       --color-primary: #1ab6c1;
       --color-secondary: #3e13e9;
       --color-accent: #d46d4c;
       --font-heading: inter ,Arial, Helvetica, sans-serif;
       --color-heading: rgb(74, 61, 95);
       --color-body: #231723;
       --font-size-block__heading: 3rem;
       --media-block__heading: 2.3rem;
}
body {
       font-family: open sans ,Arial, Helvetica, sans-serif;
       font-size: 1.7rem;
       background: #fff;
       color: var(--color-body);
       line-height: 1.5;
       min-width: 270px;
}
h1,
h2,
h3 {
       font-family: var(--font-heading);
       margin-bottom: 0;
       color: var(--color-heading);
       line-height: 1;
       
       
}
h1 {
       font-size: 2.7rem;
}
h2 {
       font-size: 1.3rem;
}
/* btn */
.btn {
       padding: 1rem 1.7rem;
       border-radius: 4rem;
       text-transform: uppercase;
       font-size: 1rem;
       font-weight: 500;
       border: 0;
       margin-top: 1rem;
       word-spacing: 3px;
       letter-spacing: 2px;
       text-align: center;
       

}

.btn--block {
       display: inline-block;
       margin: 1rem 0;
       width: 100%;
}

.btn--primary{
       background: var(--color-primary);
       color: #fff;
       transition: all .5s ease-in-out;
}
.btn--primary:hover {
       background: #35878d;
       color: #e7e4e4;
       transform: scale(1.02);
       font-weight: 700;
}
.btn--accent {
       background: var(--color-accent);
       color: #fff;
       transition: all .4s ease-in-out;
}
.btn--accent:hover {
       background-color: #835546;
       transform: scale(1.02);
       color: #fceefc;
       font-weight: 600;
}
@media screen and (min-width: 768px) {
       .btn {
              font-size: 1.7rem;
              font-weight: 700;
       }
       
}
/* badge */
.badge {
       display: inline-block;
       color: #fff;
       border-radius: 2rem;
       padding: 1rem 1.7rem;
       font-size: 1.4rem;
       font-weight: 500;
}
.badge--primary {
       background: var(--color-secondary);
       color: #dee3e6;
       opacity: .5;

}
.badge--accent {
       background: var(--color-accent);
}
@media screen and (min-width: 768px) {
       .badge {
              font-size: 1.2rem;
       }
}
/* links */
.arrow-link {
       color: #a35538;
       font-size: 1.7rem;
       font-weight: bold;
       text-transform: uppercase;
       letter-spacing: 1px;
}
.arrow-link::after {
       content: "\2192";
       font-size: 2rem;
       margin-top: 0;
       display: inline-block;
       margin-left: 2px;
       transition: all .3s;
}
.arrow-link:hover::after {
       transform: translate(3px);
}
@media screen and (min-width: 768px) {
       .arrow-link {
              font-size: 1.2rem;
       }
       .arrow-link::after {
              font-size: 2.1rem;
       }
}

/* card */
.card {
       border-radius: 10px;
       border: 2px solid #e7e7e7;
       overflow: hidden;
}
.card:hover {
       box-shadow: 0 0 20px 5px #dcdedf;
       transform: scale(1.04);
}
.card--primary .card__header {
       background-color: var(--color-primary);

}
.card--secondary .card__header {
       background: var(--color-secondary);

}
.card--secondary .card__heading {
       color: #dcdedf;
}
.card--primary .card__heading {
       color: #eaedf0;
}
.card--accent .card__header{
       background: var(--color-accent);
}
.card__header , .card__content {
       padding:  2rem 3rem;
}
.card__content {
       font-size: 1.5rem;
       background: #f9f5f5;
       color: #010202;
}
/* icons */
.icon {
       width: 40px;
       height: 40px      

}
.icon--white {
       fill: #fff;
}
.icon--primary {
       fill: var(--color-primary);
}
.icon--secondary {
       fill: var(--color-secondary);
}
.icon--accent {
       fill: var(--color-accent);
}

.icon-container {
       width: 40px;
       height: 40px;
       border-radius: 100%;
       display: inline-flex;
       justify-content: center;
       align-items: center;
       margin-left: 1rem;  
}
/* plans*/
.plan {
       max-width: 500px;
       margin: auto;
}
.plan__icon {
       fill: white;
       display: block;
       width: 50px;
       margin: auto;
       
}
@media screen and (min-width: 768px) {
       .plan .card__content{
              font-size: 1.2rem;
       }
       .plan .btn {
              margin-bottom: 0rem;
       }
       
}
/* grid */
.red {
       height: 100px;
       background-color: #835546;
}
.yellow {
       background-color: yellow;
       height: 100px;
}
.grid {
       display: grid;
}
@media screen and (min-width: 768px) {
       .grid--1x2 {
              grid-template-columns: repeat(2,1fr);
       }
}
/* collapsing */
.collapsible {
       padding: 1rem;
}
.collapsible__header {
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.collapsible__header .collapsible__heading {
       margin-top: 0;
       font-size: 2.9rem;
}
.collapsible__chevron {
       transform: rotate(-90deg);
       transition: transform .5s;
}
.collapsible__content {
       max-height: 0;
       overflow: hidden;
       opacity: 0;
       transition: all .5s;
}

.collapsible--expandable .collapsible__chevron {
       transform: rotate(0deg);
       transition: all .5s;
}
.collapsible--expandable  .collapsible__content {
       max-height: 100%;
       opacity: 1;
       transition: all .5s;
}
/* languages used in our services */
.collapsible .card__header{
       padding: 0 2rem;
}
.collapsible .card__content {
       padding: 0 2rem;
       padding-top: 1rem;
}
@media screen and (min-width: 768px) {
       .languages__collapsible {
              padding: 0;
              max-width: 500px;
       }
       .languages__collapsible .collapsible__chevron {
              display: none;
       }
       .languages__collapsible .collapsible__header {
              
              padding: 2rem 3rem;
       }
       .languages__collapsible .card__header {
              padding: 1rem 2rem;
              background: var(--color-accent);
       }
       .languages__collapsible .collapsible__heading {
              margin-top: 1rem;
              color: #f6feff;
       }
       .languages__collapsible .collapsible__content {
              max-height: 100%;
              font-size: 1.5rem;
              opacity: 1;
              padding: 1rem 2rem;
              transition: all 0s;
       }
}
/* project plan */
.project-plan .card--accent .badge {
       opacity: .8;
       background: #835546;
}
.project-plan .card--accent .plan__date {
       opacity: .9;
}
.project-plan .card--primary .plan__date {
       opacity: .9;
}
.project-plan .card--primary .badge {
       opacity: .9;
       background: #42787c;
}

.project-plan .card--secondary .plan__date {
       opacity: .9;
}
.project-plan .card--secondary .badge {
       opacity: .8;
       background: #29204f;
}
.project-plan .card__header {
       padding: 1rem;
}
.project-plan .badge {
       font-size: 1.3rem;
       font-weight: 600;
}
.project-plan .plan__date {
       font-size: 1.4rem;
       letter-spacing: 1.4px;
       opacity: .5;
       font-weight: 500;
}
.project-plan .card__heading {
       margin: 1rem 0;
}
.project-plan .card__content {
       padding: 1rem 2rem;
}
.project__image {
       margin-top: 0;
}
/* media */
.media{
       display: flex;
       gap: 1rem;
}
.media__heading ,.media__content{
       margin: 2px;
}
@media screen and (min-width: 768px) {
       .media__heading{
              font-size: 2.8rem;
              margin-top: 6px;

       }
       .media__content {
              font-size: 2rem;
       }
}
/* block */
.block {
       --padding-vertical: 6rem;
       padding: var(--padding-vertical) 2rem;
}
.container {
       max-width: 1140px;
       margin: auto;
}
.block--dark {
       background: #26869e;
       color: #f9f5f5;
}
.block--dark .block__heading {
       color: #fff;
}
.block--skewed-left {
       clip-path: polygon(0% 0%, 0% 100%, 100% 90%,100% 0%);
       padding-bottom: calc(var(--padding-vertical) + 8rem);
       
}
.block--skewed-right {
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 88%);
       padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block__header {
       text-align: center;
}
.block__heading {
       font-size: var(--font-size-block__heading);
       margin-top: 0;
}
@media screen and (min-width: 768px) {
       .block__heading {
              font-size: var(--media-block__heading);
       }
}
/* Navigation */
.nav__header {
       background: #4aaac2;
}
.nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background: #4aaac2;
       flex-wrap: wrap;
       padding: 1rem;
}
.logo {
       transform: translateY(10px);
       max-width: 100px;
}
.nav__icon {
       opacity: 1;
       fill: #060303;
       transition: all .5s;
}
.nav__icon:hover {
       opacity: .8;
       transform: scale(1.06);
}

.list {
       width: 100%;
       padding: 0;
}
.list__item {
       margin: 5px;
       border-bottom: 1px solid #00000089;
       transition: transform .3s ease-out;
}
.list__item:hover {
       transform: translateX(2px);
}
.list a {
       font-size: 2.1rem;
       color: #ffffff;
       font-weight: 500;
       transition: color .5s;
}
.list a:hover {
       color: #253031;
}
.list.collapsible__content {
       margin: 0;
}
@media screen and (min-width: 768px) {
       
       .nav__icon {
              display: none;
       }
       .list {
              width: auto;
              max-height: 100%;
              opacity: 1;
              font-size: 2rem;
              display: flex;
              gap: 1rem;
              
       }
       .list__item {
              border-bottom: 0;
       }
       .list__item:hover {
              transform: scale(1.1);
       }
       .list__item a {
              font-size: 1.9rem;
       }
       
       
}
/* hero */
.hero {
       gap: 1rem;
}
.hero__name {
       font-size: 2.5rem;
}
.hero__content {
       font-size: 2rem;
}
.img {
       width: 100%;
}
.hero .btn {
       margin: 2rem;
}
@media screen and (min-width: 768px) {
       .hero .block__header {
              align-self: center;
              justify-self: center;
              line-height: 1.7;
              letter-spacing: 1.3px;
       }
       .hero__name {
              font-size: 2rem;
       }
       .hero__content {
              font-size: 1.5rem;
       }
       .hero .btn {
              margin: 2rem 0;
              font-size: 1.2rem;
       }
       .hero .img {
              align-self: center;
              justify-self: center;
       }
}
/* about me */
.about_container {
       border-radius: 5px;
       box-shadow: 0 0 20px 10px #d7d1d1;
       padding: 1rem;
       gap: 1rem 2rem;
}
.about .block__heading {
       font-size: 3rem;
}

.about .img {
       margin-bottom: 2rem;
}

.about .btn {
       padding: 1vh 4vw;
       margin: 2rem auto;
       font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
       .about .block__heading {
              font-size: var(--font-size-block__heading);
       }
       .about_container {
              grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
       }
       .about_container .media {
              margin-top: 1rem;
              line-height: 1.6;
       }
       .about .btn {
              font-size: 1.2rem;
              padding-top: 1.2rem;
       }
       .about .media__heading {
              font-size: 2.2rem;
       }
       .about .media__content {
              font-size: 1.7rem;
       }
}
/*services  */
.services {
       gap: 3rem 2rem;
}
.services-block .block__heading {
       font-size: 3rem;
}
.services .card__content {
       font-size: 2rem;
}
.services .plan:nth-child(2) {
       transform: scaleY(1.04);
}
.services .plan {
       max-width: 500px;
}
.services .card__header {
       padding: 1rem 3rem;
}
.services .card__heading {
       font-size: 2rem;
}
@media screen and (min-width: 768px) {
       .services .card__heading {
              font-size: 2rem;
       }
       .services .btn {
              font-size: 1rem;
       }
.services .card__content {
       font-size: 1.7rem;
}
}

/* languages */
.languages {
       gap: 1rem 2rem;
}

.block__content {
       font-size: 2rem;
}
.languages-block .collapsible__heading {
       font-size: 2.2rem;
}
.languages .collapsible__content {
       font-size: 2rem;
}
@media screen and (min-width: 768px) {
       .languages {
              grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
       }
       .languages-block .block__heading {
              font-size: var(--font-size-block__heading);
       }
       .languages__collapsible:nth-child(2) {
              transform: scaleY(1.06);
       }
       .languages__collapsible:nth-child(2):hover {
              transform: scaleY(1.08);
       }
       .languages .collapsible__heading {
              font-size: 2rem;
       }
       .languages .collapsible__content {
              font-size: 1.7rem;
       }
       
}
/* projects block */
.project {
       gap: 1rem;
}
.project-block .block__heading {
       font-size: 3rem;
}
.project .card__content {
       font-size: 2rem;
}
@media screen and (min-width: 768px) {
       .project {
              grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       }
       .project .card__content {
              font-size: 1.7rem;
       }
}
/* footer */
.footer {
       display: grid;
       gap: 1rem 2rem;
}
.footer .collapsible__heading {
       font-size: 2.1rem;
}
.footer__logo {
       max-width: 300px;
       margin: auto;
       display: flex;
       flex-direction: column;
       text-align: center;

}
.footer__logo .img {
       width: 100%;
}
.copy {
       font-weight: 500;
       opacity: .5;
       margin-top: -5rem;
       margin-left: 5rem;

}

/* .call-out */
.call-out {
       font-size: 2rem;
       margin-top: -10px;
       border-radius: 10px;
       padding: 2rem;
       max-width: 500px;
       margin: auto;
       transform: translateY(17rem);

}
.call-out-block {
       padding-top: 0rem;

}
.combine-footer {
       margin-top: -16rem;
}
.card--primary.call-out {
       background-color: #1ab6c1;
}
.call-out__heading {
       text-align: center;
       margin-top: 0;
       font-size: 2.3rem;
}
.call-out__content {
       margin-bottom: .5rem;
}
.call-out .btn {
       justify-self: center;
       padding: 1.2rem 2rem;
       margin: 0;
}

@media screen and (min-width: 768px) {
       .call-out {
              max-width: none;
              grid-template-columns: repeat(2,1fr);
              transform: translateY(140px);
              font-size: 1.7rem;
       }
       .call-out .btn {
              align-self: center;
              font-size: 1.2rem;
              justify-content: center;
       }
       .call-out .call-out__heading {
              text-align: left;
              font-size: 2rem;
       }
}
/* footer*/
.footer {
       padding-top: 6rem;
}
.footer .collapsible__heading {
       font-size: 2.3rem;
}
.address__list {
       padding: 0;
}
.address__list  a {
       color: #652e2e;
} 
@media screen and (min-width: 768px) {
       .footer {
              grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
       }
       .footer .collapsible__chevron {
              display: none;
       }
       .footer .collapsible__content {
              max-height: 100%;
              opacity: 1;
              margin-top: 1rem;
              font-size: 1.7rem;
       }
       .footer .collapsible__heading {
              font-size: 2rem;
       }
       .footer__logo {
              order: -1;
       }
       .copy {
              font-size: 1.2rem;
       }
       .footer__logo .img {
              margin-top: -10rem;
       }
}