<section class="about block container">
       <header class="block__header">
              <h3>About Me</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, expedita.</p>
       </header>
       <div class="about_container grid grid--1x2">
              <img class="img" src="/images/NATH_1.JPG" alt="">
              <div class="media">
                     <header class="media__header">
                            <span class="icon-container icon--primary media__icon">
                                   <svg class="icon">
                                          <use href="/css/sprite.svg#laptop"></use>
                                   </svg>
                            </span>
                     </header>
                     <div class="media__body">
                            <h3 class="media__heading">Fullstack Developer</h3>
                            <p class="media__content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, excepturi?</p> 
                            <a href="/" class="btn btn--block btn--accent arrow-link">Read more</a>              
                     </div>
              </div>
       </div>
</section>