<div class="combine-footer">
       <section class="block container call-out-block">
              <div class="call-out card--primary grid grid--1x2" id="contact">
                     <header class="call-out__header">
                            <h3 class="card__heading call-out__heading">Ready to Contact me?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, nemo.</p>
                     </header>
                     <a href="mailto:iranziclaude619@gmail.com" class="btn btn--accent">contact me</a>
              </div>
       </section>
       <footer class="block block--dark">
              <div class="footer container">
                     <article class="collapsible collapsible--expandable">
                            <header class="collapsible__header">
                                   <h3 class="collapsible__heading">Products</h3>
                                   <img class="icon collapsible__chevron" src="/css/chevron.svg" alt="">
                            </header>
                            <div class="collapsible__content">
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, maxime.
                            </div>
                     </article>
                     <article class="collapsible collapsible--expandable">
                            <header class="collapsible__header">
                                   <h3 class="collapsible__heading">Address</h3>
                                   <img class="icon collapsible__chevron" src="/css/chevron.svg" alt="">
                            </header>
                            <address class="collapsible__content">
                                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, maxime.
                            </address>
                     </article>
                     <article class="footer__logo">
                            <img class="img" src="/images/iranzi.png" alt="">
                            <p class="copy">Copyright &copy; 2024 Iranzi</p>
                     </article>
                     </div>
       </footer>
</div>