<section class="hero block block--dark block--skewed-right">
       <div class="grid grid--1x2 container">
              <header class="block__header">
                     <h4 class="block__heading">Hello, it's me</h4>
                     <h3 class="hero__name">iranzi Claude</h3>
                     <span>I am Full stack developer Web/App</span>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, mollitia!</p>
                     <a class="hero__btn" href="#"><button type="button" class="btn btn--accent">download cv</button></a>
              </header>
              <img class="img" src="/images/about me image.png" alt="">
       </div>
</section>