<div class="media">
       <header class="media__header">
              <span class="icon-container icon--primary media__icon">
                     <svg class="icon">
                            <use href="/css/sprite.svg#laptop"></use>
                     </svg>
              </span>
       </header>
       <div class="media__body">
              <h3 class="media__heading">Fullstack Developer</h3>
              <p class="media__content"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, excepturi?</p>                 
       </div>
</div>
<script src="/js/main.js"></script>