
<section class="block block--dark block--skewed-left services-block">
       <header class="block__header">
              <h3 class="block__heading">Our services</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, molestias.</p>
       </header>
       <div class="grid grid--1x2 container services">
              <article class="plan">
                     <div class="card card--primary">
                            <header class="card__header">
                                          <svg class="icon icon--block">
                                                 <use href="/css/sprite.svg#laptop"></use>
                                          </svg>
                                   <h3 class="card__heading">Mobile App development</h3>
                            </header>
                            <div class="card__content">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi enim officiis aut sit quidem iusto.
                                   <a href="#"><button type="button" class="btn btn--block btn--accent">Get started</button></a>
                            </div>
              
                     </div>
              </article>
              <article class="plan">
                     <div class="card card--primary">
                            <header class="card__header">
                                          <svg class="icon plan__icon">
                                                 <use href="/css/sprite.svg#laptop"></use>
                                          </svg>
                                   <h3 class="card__heading">Full stack Web Development</h3>
                            </header>
                            <div class="card__content">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi enim officiis aut sit quidem iusto.
                                   <a href="#"><button type="button" class="btn btn--block btn--accent">Get started</button></a>
                            </div>
              
                     </div>
              </article>
       </div>
</section>