<section class="block container">
       <header class="block__header">
              <h3 class="block__heading">Our Expertise as Fullstack development</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, suscipit?</p>
       </header>
       <div class="grid languages">
              <article class="languages__collapsible card collapsible--expandable">
                     <header class="card__header collapsible__header">
                            <h3 class="collapsible__heading">Frontend development</h3>
                            <img class="icon collapsible__chevron" src="/css/chevron.svg" alt="">
                     </header>
                     <div class="card__content collapsible__content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id modi molestiae, sit earum commodi distinctio! Velit quos impedit cum. Unde nobis assumenda veritatis, dignissimos fuga illum soluta possimus sequi et!
                     </div>
              </article>
              <article class="languages__collapsible card collapsible">
                     <header class="card__header collapsible__header">
                            <h3 class="collapsible__heading">Backend development</h3>
                            <img class="icon collapsible__chevron" src="/css/chevron.svg" alt="">
                     </header>
                     <div class="card__content collapsible__content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id modi molestiae, sit earum commodi distinctio! Velit quos impedit cum. Unde nobis assumenda veritatis, dignissimos fuga illum soluta possimus sequi et!
                     </div>
              </article>
              <article class="languages__collapsible card collapsible">
                     <header class="card__header collapsible__header">
                            <h3 class="collapsible__heading">Mobile app development</h3>
                            <img class="icon collapsible__chevron" src="/css/chevron.svg" alt="">
                     </header>
                     <div class="card__content collapsible__content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id modi molestiae, sit earum commodi distinctio! Velit quos impedit cum. Unde nobis assumenda veritatis, dignissimos fuga illum soluta possimus sequi et!
                     </div>
              </article>
       </div>
</section>
<script src="/js/main.js"></script>